@media only screen and (min-width:300px) and (max-width:720px) {
    body{
        width: 100%;
    }
    .logo i{
font-size: 10px;
margin-top: -16px;
    }
    .list li a{
        font-size: 10px;
    }
    .list li i{
        font-size: 12px;
        margin-bottom: 34px;
        /* margin-top: -5px; */

    }
    .logo{
        right: -22px;
    }
    .photo .trans{
        width: 50%;
        font-size: 10px;
    }
    .div img{
        width: 50px;
        margin-top: 314px;
    }
    .center{
        width: 85%;
    }
    .div b{
        font-size: 12px;
    }
    .border-bottom img{
/* visibility: hidden; */
display: none;
    }
.border-bottom .fs-4{
    background-color: lightgray;
}
.write{
    font-size: 10px;
    padding: 0;
}
.star{
    margin-right: 22px;
}
.nav{
    font-size: 12px;
    margin-left: -22px;
    align-items: center;
}
.put{
    /* align-items: center; */
    /* text-align: center; */
    /* margin: auto; */

    width: 100%;
    height: 30px;
}
}